/target/
settings.xml
/.gradle/
.gradle/
/build/
/.project
/.classpath
/lauchInstru.cmd
/launchInstru.ksh
/launchSimple.cmd
/launchZoom.cmd
/readme.odt
/readme.html
/manual/*.odt
/manual/*.odg
./*.ksh
/*.cmd
/pluginMake.cmd
./doc/
./docs/
